@model IList<Report>
@inject IPostService postService
@inject IReportCategoryService reportCategoryService
@{
    ViewData["Title"] = "Категории";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Жалоба</th>
            <th scope="col">Пост</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@reportCategoryService.Get(item.CategoryId).Name</td>
            <td>@postService.Get(item.PostId).Title</td>
                <td>
                    <a type="button" class="btn btn-primary" asp-controller="Reports" asp-action="EditPost" asp-route-id="@item.PostId">Изменить пост</a>
                    <a type="button" class="btn btn-danger" asp-controller="Reports" asp-action="DeletePost" asp-route-id="@item.PostId">Удалить пост</a>
                    <a type="button" class="btn btn-danger" asp-controller="Reports" asp-action="Delete" asp-route-id="@item.Id">Удалить жалобу</a>
                </td>
            </tr>
        }
    </tbody>
</table>
